.body {
    margin: 0;
    padding: 0;
    position: relative;
}

.background-top {
    position: absolute;
    background: bisque;
    width: 100vw;
    height: 100vh;
    background: url("../img/background-top.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-bottom {
    position: absolute;
    -webkit-clip-path: polygon(100vw 0, 0% 100%, 100vw 100vh);
    clip-path: polygon(100vw 0, 0% 100vh, 100vw 100vh);
    background: url("../img/background-bottom.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
