.body {
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    min-height: 721px;
}
.background-body-t,
.background-top {
    position: absolute;
    background: bisque;
    width: 100%;
    min-height: 533px;
    height: 75vh;
    background: url("../img/background-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
}

.background-body-t {
    background: url("../img/background-body-t.jpg");
    z-index: -9;
    height: 100vh;
    min-height: 721px;
}

.background-body-b,
.background-bottom {
    position: absolute;
    -webkit-clip-path: polygon(100% 0, 0% 100vh, 100% 100vh);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background: url("../img/background-bottom.jpg");
    width: 100%;
    min-height: 533px;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    left: 0;
    top: 0;
}

.background-bottom,
.background-top {
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-body-b {
    clip-path: polygon(100% 0, 10% 100%, 100% 100%);
    background: url("../img/background-body-b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -9;
    height: 100vh;
    min-height: 721px;
}

@media only screen and (max-width: 460px) {
    .background-top,
    .background-bottom {
        min-height: 570px;
    }
}

/*-------------------HEADER------------------------*/

.header {
    width: 100%;
    height: 140px;
    padding-top: 20px;
}

.title {
    position: relative;
    width: 50%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    transition: 1s;

    &__ribbon {
        width: 140px;
        height: 140px;
        overflow: hidden;
        position: absolute;
        top: -10px;
        left: -10px;
    }
    &__ribbon::before,
    &__ribbon::after {
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        border: 5px solid gray;
    }

    &__ribbon span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 15px 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#212124), to(#a072ad));
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: gold;
        font: 700 18px/1 "Lato", sans-serif;
        text-shadow: 1px 1px 0 #bcbcbc, 2px 2px 0 #9c9c9c, 0 1px 8px rgba(255, 255, 255, 0.5),
            0 1px 5px rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        text-align: center;
    }

    &__ribbon::before,
    &__ribbon::after {
        border-top-color: transparent;
        border-left-color: transparent;
    }

    &__ribbon::before {
        top: 0;
        right: 0;
    }
    &__ribbon::after {
        bottom: 0;
        left: 0;
    }
    &__ribbon span {
        right: -25px;
        top: 30px;
        transform: rotate(-45deg);
    }

    &__text {
        margin: 0;
        padding: 0;
        color: #92a5de;
        background: -webkit-linear-gradient(top, #212124, #c288d4);
        background: -moz-linear-gradient(top, #212124, #c288d4);
        background: -o-linear-gradient(top, #212124, #c288d4);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#212124), to(#c288d4));
        text-shadow: 0px 0px 0 #899cd5, 1px 1px 0 #8194cd, 2px 2px 0 #788bc4, 3px 3px 0 #6f82bb, 4px 4px 0 #677ab3,
            5px 5px 0 #5e71aa, 6px 6px 0 #5568a1, 7px 7px 0 #4c5f98, 8px 8px 0 #445790, 9px 9px 0 #3b4e87,
            10px 10px 0 #32457e, 11px 11px 0 #2a3d76, 12px 12px 0 #21346d, 13px 13px 0 #182b64, 14px 14px 0 #0f225b,
            15px 15px 0 #071a53, 16px 16px 0 #02114a, 17px 17px 0 #0b0841, 18px 18px 0 #130039, 19px 19px 0 #1c0930,
            20px 20px 0 #251227, 21px 21px 20px rgba(0, 0, 0, 1), 21px 21px 1px rgba(0, 0, 0, 0.5),
            0px 0px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
        height: 110px;
        font-size: 60px;
        padding-top: 30px;
        transition: 1s;
    }
}

@media only screen and (max-width: 1100px) {
    .title {
        width: 90%;
    }
}
@media only screen and (max-width: 680px) {
    .title {
        &__text {
            font-size: 40px;
            padding-right: 10px;
        }
    }
}

@media only screen and (max-width: 520px) {
    .title {
        &__ribbon span {
            right: -50px;
            top: 17px;
            transform: rotate(-45deg);
            width: 328px;
            padding: 6px 0;
            font-size: 12px;
        }

        &__ribbon:before {
            top: 0px;
            right: 68px;
        }

        &__ribbon:after {
            bottom: 68px;
            left: 0;
        }
    }
}

@media only screen and (max-width: 460px) {
    .header {
        height: 100px;
    }

    .title {
        &__text {
            height: 70px;
        }
    }
}

/* end title */

/*-------------------END HEADER------------------------*/

/*---------------------SEARCH------------------------*/

.main {
    position: relative;
    overflow: hidden;
    height: 75vh;
    min-height: 533px;

    &__keyboard {
        width: 100%;
        position: absolute;
        z-index: 99;
        top: 105px;
    }
}

@media only screen and (max-width: 460px) {
    .main {
        &__keyboard {
          top: 115px;
        }
    }
}

.search {
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: center;
    padding-top: 15px;

    &__wrap-key,
    &__btn {
        width: 150px;
        height: 50px;
        font-size: 30px;
        text-decoration: none;
        outline: none;
        position: relative;
        overflow: hidden;
        font-family: "Montserrat", sans-serif;
        transition: 0.2s ease-in-out;
        box-sizing: border-box;
        cursor: pointer;
        border: 2px solid #c288d4;
        font-family: Montserrat, sans-serif;
        color: #c288d4;
        transition: 0.2s ease-in-out;
        box-sizing: border-box;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.7);
    }

    &__wrap-key:before,
    &__btn:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -80px;
        transform: skewX(-45deg);
    }

    &__wrap-key:hover,
    &__btn:hover,
    &__btn:active {
        background-color: rgba(102, 51, 153, 0.8);
        color: white;
    }

    &__wrap-key:hover:before,
    &__btn:hover:before {
        left: 400px;
        transition: 0.5s ease-in-out;
    }

    &__wrap-key:active,
    &__btn:active {
        background-color: rgba(0, 0, 0, 0.7);
        color: #c288d4;
    }

    &__wrap {
        position: relative;
        width: 60%;

        &-input {
            width: 80%;
            font-size: 26px;
            padding-left: 50px;
            margin-bottom: 10px;
            box-sizing: border-box;
            height: 50px;
            position: relative;
            outline: 0;
            cursor: pointer;
            opacity: 0.9;
            background: rgba(0, 0, 0, 0.8);
            color: gold;
            text-shadow: 1px 1px 0px white;
            border: 2px solid #c288d4;
            background-image: url(../img/icon/search.png);
            background-repeat: no-repeat;
            background-size: 45px 45px;
            background-position: left 1px top 1px;
        }

        &-key {
            position: absolute;
            width: 50px;
            height: 50px;
            right: 0px;
            outline: 0;
            border: 2px solid #c288d4;
            box-sizing: border-box;
            cursor: pointer;
            border-right: 0;
            background: rgba(0, 0, 0, 0.8);
            background-image: url(../img/icon/keyboard.png);
            background-repeat: no-repeat;
            background-size: 45px 45px;
            background-position: right 1px top 0px;
        }

        &-input:focus {
            box-shadow: 2px 2px 5px rgb(136, 7, 136), 2px -2px 5px rgb(136, 7, 136), -2px 2px 5px rgb(136, 7, 136);
        }

        &-error {
            display: none;
            width: 80%;
            height: 80px;
            padding-left: 10px;
            padding-top: 10px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#212124), to(#a072ad));
            position: absolute;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            top: 52px;
            color: crimson;
            font-size: 20px;
            z-index: 99;
        }
        &-error:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#212124), to(#a072ad));
            margin: -28px 0px -8px 30px;
            clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        }
    }
}

.focus {
    box-shadow: 2px 2px 5px rgb(136, 7, 136), 2px -2px 5px rgb(136, 7, 136), -2px 2px 5px rgb(136, 7, 136);
}

.show-error {
    display: block;
}
.show-tranlate {
    color: white;
}

@media only screen and (max-width: 680px) {
    .search {
        width: 100%;

        &__wrap {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 460px) {
    .main {
        min-height: 570px;
    }

    .search {
        display: block;
        padding-top: 5px;

        &__btn {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 5px;
        }

        &__wrap {
            display: flex;
            justify-content: center;

            &-key {
                margin-right: 5%;
                border-right: 2px solid #c288d4;
            }

            &-input {
                width: 90%;
                font-size: 22px;
                margin-bottom: 5px;
            }

            &-error {
                margin-top: 76px;
            }
        }
    }
}

/*-------------------END SEARCH------------------------*/

.slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 410px;

    &__arrow {
        width: 100px;
        height: 100px;
        align-self: center;
        cursor: pointer;
    }
    &__arrow:hover {
        background: rgba(0, 0, 0, 0.6);
    }

    &__slides {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        width: 1060px;
        overflow: hidden;
        position: relative;
        user-select: none;
        cursor: pointer;

        &-item {
            width: 235px;
            min-width: 235px;
            height: 410px;
            margin-left: 15px;
            margin-right: 15px;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            left: 0;
            right: 0;
            transition: all 0.2s linear;

            img {
                width: 100%;
                height: 86%;
                object-fit: cover;
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-around;
            margin-top: -4px;
        }

        &-rating,
        &-year {
            font-size: 26px;
            color: white;
            font-weight: bold;
            text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
        }

        &-rating {
            margin-left: 40px;
            position: relative;
        }

        &-rating::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            left: -35px;
            background-image: url(../img/icon/star.png);
            background-size: cover;
        }

        &-link {
            color: white;
            text-shadow: 2px 2px 1px black, 2px -2px 1px black, -2px 2px 1px black, -2px -2px 1px black;
            font-size: 26px;
            display: block;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 5px;
            padding-right: 5px;
        }
        &-link:hover {
            color: gold;
        }
    }
}

.cancel-transform .slider__slides-item {
    transition: none;
}

@media only screen and (max-width: 1400px) {
    .slider {
        &__slides {
            width: 795px;
        }
    }
}

@media only screen and (max-width: 1110px) {
    .slider {
        &__slides {
            width: 530px;
        }
    }
}

@media only screen and (max-width: 820px) {
    .slider {
        &__slides {
            width: 265px;
        }
    }
}

@media only screen and (max-width: 520px) {
    .body {
        padding: 0;
    }
    .slider {
        &__arrow {
            width: 60px;
            height: 60px;
        }

        &__arrow img {
            width: 60px;
            height: 60px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .slider {
        &__arrow {
            width: 25px;
            height: 60px;
        }

        &__arrow img {
            width: 25px;
            height: 60px;
        }
    }
}

.buttons {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;

    &__item {
        margin-left: 5px;
        margin-right: 5px;
        outline: 0;
        width: 36px;
        height: 36px;
        cursor: pointer;
        border: 0;
        border-radius: 50px;
        background-image: url(../img/icon/screen.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 2px left;
    }

    &__item-check {
        background-image: url(../img/icon/check.png);
    }

    &__item:hover {
        box-shadow: 2px 2px 3px gold, -2px 2px 3px gold, 2px -2px 3px gold, -2px -2px 3px gold;
    }
}

.poster {
    display: flex;
}

.suspend {
    opacity: 0.4;
}

@media only screen and (max-width: 660px) {
    .buttons {
        width: 100%;
        margin-top: 10px;

        &__item {
            width: 27px;
            height: 27px;
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}
