.wrapper {
    width: 890px;
    margin: 0 auto;
}

@media only screen and (max-width: 1020px) {
    .wrapper {
        width: 667px;
    }
}

@media only screen and (max-width: 710px) {
    .wrapper {
        width: 445px;
    }
}

@media only screen and (max-width: 460px) {
    .wrapper {
        width: 310px;
    }
}

.button {
    color: #af920d;
    position: relative;
    width: 5.618%;
    height: 50px;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5px;
    margin-left: 9px;
    border: 2px solid #927e14;
    box-shadow: hsla(0, 0, 0, 0.75) 5px 6px 2px;
    border-radius: 5px;
    outline: none;
    text-decoration-line: none;
    text-decoration: none;
    user-select: none;
    padding: 0px;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #636398, #212124 50%, #5e4963a8);
    background-image: -webkit-linear-gradient(top, #636398, #212124 50%, #5e4963a8);
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-image: none;
    background-color: burlywood;
    color: #040313e0;
    box-shadow: black 3px 4px 2px;
    outline: none;
    text-decoration-line: none;
    text-decoration: none;
}

.button:active {
    background-image: none;
    background-color: burlywood;
}

@media only screen and (max-width: 1020px) {
    .button {
        margin-bottom: 3px;
        margin-left: 3px;
        border-radius: 2px;
        height: 30px;
        font-size: 15px;
    }

    .space {
        width: 39.5%;
    }

    .backspace {
        width: 12.8%;
    }
    .backslash {
        width: 9.4%;
    }
}
@media only screen and (max-width: 710px) {
    .button {
        height: 27px;
        font-size: 10px;
    }
    .space {
        width: 40.5%;
    }
}

@media only screen and (max-width: 460px) {
    .button {
        margin-left: 2px;
        height: 25px;
    }
}

.press {
    background-image: none;
}

.press,
.button:active {
    background-color: #130a0a4f;
    color: white;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
    outline: none;
    text-decoration-line: none;
    text-decoration: none;
}

.backspace {
    width: 12.25%;
}

.tab {
    width: 8.99%;
}

.backslash {
    width: 8.88%;
}

.capsLock {
    width: 11.24%;
}

.enter {
    width: 13.25%;
}

.shiftLeft {
    width: 14.04%;
}

.shiftRight {
    width: 10.45%;
}

.controlLeft {
    width: 8.99%;
}

.space {
    width: 42.02%;
}

.controlRight {
    width: 7.41%;
}

.delete {
    width: 4.04%;
    margin-left: 6px;
}

.press:hover {
    background-color: #130a0a4f;
}

.info {
    text-align: center;
    font-size: 26px;
    color: goldenrod;
}

.lampActive::after,
.lamp::after {
    content: "";
    position: absolute;
    width: 85px;
    height: 5px;
    border: 2px solid darkgoldenrod;
    background: black;
    left: 4px;
    top: 36px;
    border-radius: 5px;
}

.lampActive::after {
    background: wheat;
}

@media only screen and (max-width: 1020px) {
    .button:active {
        text-shadow: none;
    }
    .lampActive::after,
    .lamp::after {
        width: 63px;
        height: 3px;
        border: 1px solid #b8860b;
        left: 4px;
        top: 21px;
    }
    .tab,
    .capsLock,
    .shiftLeft,
    .controlLeft,
    .backquote {
        margin-left: 22px;
    }
}

@media only screen and (max-width: 750px) {
    .tab,
    .capsLock,
    .shiftLeft,
    .controlLeft,
    .backquote {
        margin-left: 8px;
    }
}

@media only screen and (max-width: 710px) {
    .button:active {
        text-shadow: none;
    }
    .lampActive::after,
    .lamp::after {
        width: 41px;
        left: 2px;
        top: 17px;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 460px) {
    .button:active {
        text-shadow: none;
    }
    .lampActive::after,
    .lamp::after {
        width: 27px;
        height: 2px;
        left: 1px;
    }
}
